/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
/*-- -------------------------- -->
<---          Logo              -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #logo {
    height: 5em;
    background-color: var(--backgroundColor);
    display: flex;
    align-items: center;
  }
  #logo .cs-container {
    width: 80px;
    height: 70px;
    padding-left: 5px;
  }
}
/*-- -------------------------- -->
<---          Hero              -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero {
    padding: 2em 1.5em;
    background-color: var(--backgroundColor);
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    border-top: 1px solid var(--secondary);
    border-bottom: 1px solid var(--secondary);
  }
  #hero .cs-container {
    display: flex;
  }
  #hero .cs-container .left-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #hero .cs-container .left-section h1 {
    padding-bottom: 0.5em;
    font-size: 1.8em;
    display: flex;
    flex-wrap: wrap;
    line-height: 1;
    color: white;
    font-family: "Belgan";
  }
  #hero .cs-container .left-section p {
    color: white;
    font-family: "Open Sans Light";
  }
  #hero .cs-container .left-section p #link {
    font-family: "Open Sans Condensed";
  }
  #hero .cs-container .left-section span {
    margin-top: 10px;
    font-family: "Open Sans Light";
  }
  #hero .cs-container .left-section span #price {
    font-family: "Open Sans Condensed";
  }
  #hero .cs-container .left-section a {
    color: white;
    text-decoration: none;
  }
  #hero .cs-container .left-section a:hover {
    text-decoration: underline;
  }
  #hero .cs-container .right-section {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  #hero .cs-container .right-section img {
    width: 100%;
    max-width: 300px;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero .cs-container .left-section {
    max-width: 300px;
  }
  #hero .cs-container .left-section h1 {
    font-size: 3em;
  }
  #hero .cs-container .right-section {
    max-width: 300px;
  }
}
/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-1388 {
    padding: var(--sectionPadding);
    background-color: var(--backgroundColor);
    position: relative;
    display: flex;
    justify-content: center;
  }
  #contact-1388 .cs-container {
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: auto;
    /* 48px - 64px */
    gap: clamp(2rem, 3vw, 3rem);
    position: relative;
  }
  #contact-1388 .cs-title {
    max-width: 23ch;
  }
  #contact-1388 .cs-text {
    margin-bottom: 1rem;
  }
  #contact-1388 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #contact-1388 .cs-form {
    width: 100%;
    max-width: 39.375rem;
    /* 24px - 48px top and bottom */
    /* 16px - 48px left and right */
    /* prevents flexbox from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #contact-1388 .cs-form .container-top {
    background-color: red;
    width: 340px;
    height: 170px;
    background-color: #3498db;
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
  }
  #contact-1388 .cs-form .container-top h3 {
    padding-top: 3em;
    font-size: 1.3em;
  }
  #contact-1388 .cs-form .container-bottom {
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    background-color: var(--secondary);
    width: 340px;
  }
  #contact-1388 .cs-form .container-bottom > :not(:first-child) {
    margin-top: 1em;
  }
  #contact-1388 .cs-h3 {
    /* 20px - 39px */
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.25rem 0;
    color: var(--bodyTextColor);
  }
  #contact-1388 .cs-label {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    width: 100%;
    color: var(--bodyTextColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #contact-1388 .cs-input {
    font-size: 1em;
    width: 100%;
    height: 3.5rem;
    padding: 0;
    padding-left: 1.5rem;
    color: var(--bodyTextColor);
    background-color: #f7f7f7;
    border-radius: 0.5rem;
    border: none;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
  }
  #contact-1388 .cs-input::placeholder {
    color: #767676;
    opacity: 0.3;
  }
  #contact-1388 .cs-textarea {
    min-height: 7.5rem;
    padding-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-family: inherit;
  }
  #contact-1388 .cs-button-solid {
    font-size: 1rem;
    line-height: 3.5rem;
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
    margin: 0;
    color: #fff;
    padding: 0 3rem;
    border-radius: 1.875rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    transition: color 0.3s;
    width: 100%;
  }
  #contact-1388 .cs-button-solid:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: var(--primaryDarker);
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #contact-1388 .cs-button-solid:hover {
    color: var(--primary);
  }
  #contact-1388 .cs-button-solid:hover:before {
    width: 100%;
  }
  #contact-1388 .cs-submit {
    width: 100%;
    min-width: 12.5rem;
    border: none;
  }
  #contact-1388 .cs-submit:hover {
    color: #fff;
    cursor: pointer;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #contact-1388 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
  }
  #contact-1388 .cs-container .cs-form .container-top {
    width: 500px;
    height: 250px;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
  }
  #contact-1388 .cs-container .cs-form .container-top h3 {
    font-size: 1.6em;
  }
  #contact-1388 .cs-container .cs-form .container-bottom {
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #contact-1388 .cs-content {
    width: 47%;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #contact-1388 .cs-submit {
    width: auto;
  }
  #contact-1388 .cs-button-solid {
    max-width: 150px;
  }
}
/*-- -------------------------- -->
<---          Success           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #success {
    background-color: var(--backgroundColor);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #success .popup-container {
    width: 400px;
    height: 200px;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1em;
    gap: 10px;
  }
  #success .cs-button-solid {
    font-size: 1rem;
    line-height: 3.5rem;
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
    margin: 0;
    color: #fff;
    padding: 0 3rem;
    border-radius: 1.875rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    transition: color 0.3s;
    width: 150px;
    margin-top: 1em;
    z-index: 1;
  }
  #success .cs-button-solid:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: var(--primaryDarker);
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #success .cs-button-solid:hover {
    color: var(--primary);
  }
  #success .cs-button-solid:hover:before {
    width: 100%;
  }
  #success .cs-submit {
    min-width: 12.5rem;
    border: none;
    font-weight: 700;
    font-family: "Open Sans Condensed";
  }
  #success .cs-submit:hover {
    color: #fff;
    cursor: pointer;
  }
}

/*# sourceMappingURL=local.css.map */
